<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
	</Leaders>
	<LeaderItems>

	</LeaderItems>
	<LeaderTags>

	</LeaderTags>
	<LeaderQuotes>

	</LeaderQuotes>
	<LeaderCivilizationBias>

	</LeaderCivilizationBias>
	<Civilizations>
		<Row Domain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" CivilizationName="LOC_CIVILIZATION_HITTITE_JEC_NAME" CivilizationFullName="LOC_CIVILIZATION_HITTITE_JEC_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_HITTITE_JEC_DESCRIPTION" CivilizationIcon="civ_sym_hittite.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" Type="TRAIT_HITTITE_JEC_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_HITTITE_JEC_ABILITY_NAME" Description="LOC_TRAIT_HITTITE_JEC_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" Type="UNIT_GOLDEN_SPEARMAN_JEC" Kind="KIND_UNIT" Name="LOC_UNIT_GOLDEN_SPEARMAN_JEC_NAME" Description="LOC_UNIT_GOLDEN_SPEARMAN_JEC_BASE_DESCRIPTION" Icon="ICON_UNIT_GOLDEN_SPEARMAN_JEC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" Type="UNIT_GOLDEN_CHARIOT_JEC" Kind="KIND_UNIT" Name="LOC_UNIT_GOLDEN_CHARIOT_JEC_NAME" Description="LOC_UNIT_GOLDEN_CHARIOT_JEC_BASE_DESCRIPTION" Icon="ICON_UNIT_GOLDEN_CHARIOT_JEC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" Type="BUILDING_HUWASI_JEC" Kind="KIND_BUILDING" Name="LOC_BUILDING_HUWASI_JEC_NAME" Description="LOC_BUILDING_HUWASI_JEC_DESCRIPTION" Icon="ICON_BUILDING_HUWASI_JEC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" Type="BUILDING_GISKINTI_JEC" Kind="KIND_BUILDING" Name="LOC_BUILDING_GISKINTI_JEC_NAME" Description="LOC_BUILDING_GISKINTI_JEC_DESCRIPTION" Icon="ICON_BUILDING_GISKINTI_JEC"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" Type="QUARTER_KUNTARRA" Kind="KIND_QUARTER" Name="LOC_QUARTER_KUNTARRA_NAME" Description="LOC_QUARTER_KUNTARRA_DESCRIPTION" Icon="city_uniquequarter"/>
	
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" TagType="TAG_TRAIT_EXPANSIONIST"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" TagType="TAG_TRAIT_ECONOMIC"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" LeaderDomain="StandardLeaders" LeaderType="LEADER_HATSHEPSUT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_HATSHEPSUT_HITTITE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_HITTITE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" LeaderDomain="StandardLeaders" LeaderType="LEADER_XERXES_ALT" Bias="2" ReasonType="LOC_UNLOCK_PLAY_AS_XERXES_ALT_HITTITE_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		
	</LeaderCivilizationBias>
	<CivilizationUnlocks>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_ABBASID" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_ABBASID_NAME" Description="LOC_CIVILIZATION_ABBASID_DESCRIPTION" Icon="CIVILIZATION_ABBASID"/>
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_HITTITE_JEC" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_MONGOLIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_MONGOLIA_NAME" Description="LOC_CIVILIZATION_MONGOLIA_DESCRIPTION" Icon="CIVILIZATION_MONGOLIA"/>
		
	</CivilizationUnlocks>
	<LeaderUnlocks>

	</LeaderUnlocks>
	<Mementos>

	</Mementos>
</Database>